@import '../config';
@import '../keyframes';

.input-style {
  display:grid;
  gap:1rem;

  label {
    position:absolute;
    font-size:.8rem;
    margin-top:.7rem;
    margin-left:.6rem;
    font-weight:300;
    user-select:none;
    color:$sombra;
    z-index:7;
    height:1rem;
    animation:hide-animation .3s linear forwards;
  }

  input {
    background:transparent;
    border:.1rem solid $sombra;
    border-radius:.1rem;
    padding:.6rem .5rem;
    font-size:.8rem;
    z-index:8;
    width:15.8rem;

    &:focus {
      outline:none;
    }

    &:valid ~ label, &:focus ~ label {
      animation:show-animation .3s linear forwards;
    }

    &:valid {
      border:.1rem solid $valid;
    }

    &.valid:valid ~ label {
      animation:border-green .3s linear forwards;
    }

    &.error {
      border:.1rem solid $error;
    }

    &.error ~ label {
      animation:border-red .3s linear forwards;
    }

  }
}
