$poppins-all-styles:'Poppins', sans-serif;

$main-white:#E9E8E8;
$main-black:#252627;

$main-yellow:rgba(253,169,22,.8);
$normal-yellow:#FDA916;
$light-yellow:rgba(253,169,22,.6);

$normal-black:#1B1C1D;
$normal-white:#F1EFEF;

$normal-blue:#134996;

$header-gradient:linear-gradient(90deg, rgba(27,28,29,.8) 0%, #0B3A7A 100%);

$triangle:polygon(50% 90%, 100% 40%, 100% 50%, 50% 100%, 0 50%, 0 40%);
