$poppins-all-styles:'Poppins', sans-serif;

$main-white:#E9E8E8;
$main-black:#252627;
$main-gray:#CFCFCF;

$normal-gray:#434447;
$dark-gray:#343537;
$history-span:linear-gradient(0deg, transparent 0%, #FDA916 80%);

$main-yellow:rgba(253,169,22,.8);
$normal-yellow:#FDA916;
$light-yellow:rgba(253,169,22,.8);

$valid:#00916E;
$error:#ca1551;

$normal-black:#1B1C1D;
$normal-white:#F1EFEF;

$l-gray:rgba(233,232,232,.7);
$nevoa:rgba(233,232,232,.4);
$sombra:rgba(233,232,232,.29);

$main-blue:#0B3A7A;
$normal-blue:#134996;
$light-blue:rgba(19,73,150,.2);

$header-absolute:linear-gradient(90deg, rgba(27,28,29,.8) 0%, #0B3A7A 100%);
$header-fixed:linear-gradient(90deg, rgba(27, 28, 29, 1) 0%, #0B3A7A 100%);

$triangle:polygon(50% 90%, 100% 40%, 100% 50%, 50% 100%, 0 50%, 0 40%);
