$poppins-all-styles:'Poppins', sans-serif;

$main-white:#E9E8E8;
$main-black:#252627;
$main-gray:#CFCFCF;

$main-yellow:rgba(253,169,22,.8);
$normal-yellow:#FDA916;
$light-yellow:rgba(253,169,22,.8);

$normal-black:#1B1C1D;
$normal-white:#F1EFEF;
$sombra:rgba(233, 232, 232, .29);

$main-blue:#0B3A7A;
$normal-blue:#134996;
$light-blue:rgba(19,73,150,.2);

$header-absolute:linear-gradient(90deg, rgba(27,28,29,.8) 0%, #0B3A7A 100%);
$header-fixed:linear-gradient(90deg, rgba(27, 28, 29, 1) 0%, #0B3A7A 100%);

$triangle:polygon(50% 90%, 100% 40%, 100% 50%, 50% 100%, 0 50%, 0 40%);
