@import 'config';

header {
  background:$header-gradient;
  justify-content:center;
  top:2rem;
  padding:.6rem 1rem;

  .logo {
    width:7rem;
  }

  li, button {
    font-size:.9rem;
  }

  li {
    cursor:pointer;
    padding:.2rem;
    transition:.2s;

    &:nth-child(2) {
      padding-bottom:.3rem;
    }

    &:nth-child(2):after, &:nth-child(2):hover:after {
      width:0%;
      height:0%;
    } 

    &:after {
      content:'';
      display:block;
      margin:left;
      width:0%;
      height:.12rem;
      margin-top:0rem;
      transition:.2s;
      opacity:1;
      background:$main-white;
    }

    &:hover:after, &.active:after {
      width:100%;
    }

    img {
      margin:.1rem auto auto .1rem;
      width:1.1rem;
      margin-left:-0rem;
    }
  }

  .toggle-menu {
    display:none;
  }

  nav, ul, div, li:nth-child(2) {
    display:flex;
    align-items:center;
  }

  ul, div {
    justify-content:center;
  }

  div {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:81.25rem;
    margin-left:-1rem;
  }

  nav {
    justify-content:space-between;
    width:52.5rem;

    ul {
      gap:1rem;
      list-style:none;
    }

    div {
      gap:1rem;
      width:max-content;

      button {
        &:first-child {
          font-weight:400;

          &:after {
            content:'';
            display:block;
            margin:left;
            width:0%;
            height:.12rem;
            margin-top:0rem;
            transition:.2s;
            opacity:1;
            background:$main-white;
          }
        
          &:hover:after, &.active:after {
            width:100%;
          }
        }

        &:last-child {
          font-weight:500;
          border-radius:.2rem;
          background:$main-white;
          color:$main-black;
          padding:.1rem .75rem .17rem .75rem;
          transition:.2s;
          border:.1rem solid $main-white;
        }
      }
    }

  }
}
