@import 'config';
@import 'keyframes';

:root {
  --top-after:5rem;
  --top-dropdown:6.7rem;
}

.header-fixo {
  background:$header-absolute;
  justify-content:center;
  z-index:3;
  top:2rem;
  padding:.6rem 1rem;
  position:absolute;
  animation:large-header .1s linear forwards;
  
  &.fixed {
    position:fixed;
    background:$header-fixed;
    top:0rem;
    padding:.4rem 1rem;
  }

  &.spartan {
    animation:none;
  }

  .logo {
    animation:large-logo .2s linear forwards;
  }

  li, button {
    font-size:.9rem;
  }

  li {
    cursor:pointer;
    padding:.2rem;
    transition:.2s;

    &:nth-child(2) {
      padding-bottom:.3rem;

      &:hover ul {
        display:grid;
        animation:from-the-south .3s linear forwards;
      }

      &.hide:hover ul {
        display:none;
      }

      &:nth-child(2):after {
        content:'';
        position:fixed;
        top:var(--top-after);
        width:4rem !important;
        height:3rem !important;
        background:transparent;
        cursor:auto;
        display:block !important;
      }

      ul {
        position:fixed;
        display:none;
        place-items:right;
        opacity:1;
        gap:.3rem;
        top:var(--top-dropdown);
        margin-left:-5rem;
        background:$main-white;
        border-radius:.6rem;
        padding:1.5rem 1rem 1.5rem .1rem;
        cursor:auto;

        li {
          font-size:1rem;
          opacity:.6;
          transition:.2s;
          color:$main-black;
          max-width:12rem;
          text-align:right; 
          cursor:pointer;

          &:hover {
            opacity:1;
            transition:.2s;
          }

          &:nth-child(2) {
            margin-left:3.6rem;

            &:after {
              display:none !important;
            }
          }
        }

      }
    }

    &:after {
      content:'';
      display:block;
      margin:left;
      width:0%;
      height:.12rem;
      margin-top:0rem;
      transition:.2s;
      opacity:1;
      background:$main-white;
    }

    &:hover:after, &.active:after {
      width:100%;
    }

    img {
      margin:.1rem auto auto .1rem;
      width:1.1rem;
      margin-left:-0rem;
    }
  }

  .toggle-menu {
    display:none;
  }

  nav, ul, div, li:nth-child(2) {
    display:flex;
    align-items:center;
  }

  ul, div {
    justify-content:center;
  }

  div {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:81.25rem;
    margin-left:-1rem;
  }

  nav {
    justify-content:space-between;
    width:52.5rem;

    ul {
      gap:1rem;
      list-style:none;
    }

    div {
      gap:1rem;
      width:max-content;

      button {
        &:first-child {
          font-weight:400;

          &:after {
            content:'';
            display:block;
            margin:left;
            width:0%;
            height:.12rem;
            margin-top:0rem;
            transition:.2s;
            opacity:1;
            background:$main-white;
          }
        
          &:hover:after, &.active:after {
            width:100%;
          }
        }

        &:last-child {
          font-weight:500;
          border-radius:.2rem;
          background:$main-white;
          color:$main-black;
          padding:.1rem .75rem .17rem .75rem;
          transition:.2s;
          border:.1rem solid $main-white;
        }
      }
    }

  }
}
