@import 'config';

.infos-languages, .infos-languages article:first-child, .infos-languages article:first-child div, .infos-languages article:first-child button, header, .infos-languages article:last-child {
  display:flex;
  align-items:center;
}

.infos-languages, header {
  width:100vw;
  left:0;
  z-index:3;
}

.infos-languages {
  justify-content:center;
  gap:37.6rem;
  background:$normal-black;
  top:0;
  height:2rem;
  padding:.5rem 0rem;
  align-items:center baseline;

  p, button {
    font-size:.7rem;
  }

  article:first-child {
    align-items:center;
    justify-content:space-between;
    width:38.7rem;
    margin-left:-1.1rem;
    opacity:.8;

    div, button {
      gap:.2rem;
    }

    button {
      img:last-child {
        position:relative;
        left:.1rem;
        top:.08rem;
      }
    }
  }

  article:last-child {
    gap:.6rem;
    margin-top:.4rem;

    button {
      opacity:.6;
      transition:.2s;

      &:hover {
        transition:.2s;
      }

      &.active, &:hover {
        opacity:1;
      }

      &:after {
        content:'';
        display:block;
        margin:left;
        margin-top:.3rem;
        width:0%;
        height:.07rem;
        background:$main-white;
        transition:.2s;
        opacity:.8;
      }

      &:hover:after, &.active:after {
        width:100%;
      }
    }

  }
}
