@import 'config';

@keyframes show-container {
  from {
    opacity:0;
    transform:translateY(-2rem);
  }

  to {
    opacity:1;
    transform:translateY(0rem);
  }
}

@keyframes scroll-f-child {
  0% {
    margin-top:0rem;
    opacity:1;
  }

  50% {
    opacity:.5;
    margin-top:.5rem;
  }

  100% {
    opacity:1;
    margin-top:0rem;
  }
}

@keyframes scroll-l-child {
  0% {
    margin-top:-2.9rem;
    opacity:1;
  }

  50% {
    opacity:.2;
    margin-top:-2.4rem;
  }

  100% {
    opacity:1;
    margin-top:-2.9rem;
  }
}

@keyframes show-button {
  from {
    transform:translateY(1rem);
  }

  to {
    transform:translateY(0rem);
  }
}

@keyframes initial-deg {
  from {
    transform:rotate(180deg);
  }

  to {
    transform:rotate(0deg);
  }
}

@keyframes final-deg {
  from {
    transform:rotate(0deg);
  }

  to {
    transform:rotate(180deg);
  }
}

@keyframes hide-content {
  from {
    max-height:23.9rem;
  }

  to {
    max-height:0rem;
  }
}

@keyframes show-content {
  from {
    max-height:0rem;
  }

  to {
    max-height:23.9rem;
  }
}

@keyframes small-header {
  from {
    padding:.6rem 1rem;
  }

  to {
    padding:.4rem 1rem;
  }
}

@keyframes small-logo {
  from {
    width:7rem;
    height:3rem;
    margin-left:0;
  }

  to {
    width:7.5rem;
    height:2.5rem;
    margin-left:-.9rem;
  }
}

@keyframes large-header {
  from {
    padding:.4rem 1rem;
  }

  to {
    padding:.6rem 1rem;
  }
}

@keyframes large-logo {
  from {
    width:7.5rem;
    height:2.5rem;
    margin-left:-.9rem;
  }

  to {
    width:7rem;
    height:3rem;
    margin-left:0;
  }
}

@keyframes show-header {
  from {
    transform:translateY(-7rem);
  }

  to {
    transform:translateY(0rem);
  }
}

@keyframes hide-header {
  from {
    transform:translateY(0rem);
  }

  to {
    transform:translateY(-7rem);
  }
}

@keyframes from-the-south {
  from {
    transform:translateY(2rem);
    opacity:0;
  }

  to {
    transform:translateY(0rem);
    opacity:1;
  }
} 

@keyframes hide-animation {
  from {
    font-size:.65rem;
    transform:translate(-.1rem, -1.3rem);
    z-index:8;
    background:$main-black;
    padding:0 .2rem;
  }

  to {
    font-size:.8rem;
    transform:(0, 0);
    z-index:0;
    background:none;
  }
}

@keyframes show-animation {
  from {
    font-size:.8rem;
    transform:(0, 0);
    z-index:0;
    background:none;
  }

  to {
    font-size:.65rem;
    transform:translate(-.1rem, -1.1rem);
    z-index:8;
    background:$main-black;
    border-left:.1rem solid $sombra;
    border-right:.1rem solid $sombra;
    color:rgba(233,232,232,.6);
    padding:0 .2rem;
  }
}

@keyframes border-green {
  from {
    font-size:.65rem;
    transform:translate(-.1rem, -1.1rem);
    z-index:8;
    background:$main-black;
    color:rgba(233, 232, 232, .6);
    padding:0 .2rem;
    border-left:.1rem solid  $sombra;
    border-right:.1rem solid $sombra;
  }

  to {
    font-size:.65rem;
    transform:translate(-.1rem, -1.1rem);
    z-index:8;
    background:$main-black;
    color:rgba(233, 232, 232, .6);
    padding:0 .2rem;
    border-left:.1rem solid $valid;
    border-right:.1rem solid $valid;
  }
}

@keyframes border-red {
  from {
    font-size:.65rem;
    transform:translate(-.1rem, -1.1rem);
    z-index:8;
    background:$main-black;
    color:rgba(233, 232, 232, .6);
    padding:0 .2rem;
    border-left:.1rem solid $sombra;
    border-right:.1rem solid $sombra;
  }

  to {
    font-size:.65rem;
    transform:translate(-.1rem, -1.1rem);
    z-index:8;
    background:$main-black;
    color:rgba(233, 232, 232, .6);
    padding:0 .2rem;
    border-left:.1rem solid $error;
    border-right:.1rem solid $error;
  }
}

@keyframes from-east {
  from {
    opacity:0;
    transform:translateX(1rem);
  }

  to {
    opacity:1;
    transform:translateX(0);
  }
}

@keyframes opacity-one {
  from {
    opacity:0;
  }

  to {
    opacity:1;
  }
}

@keyframes opacity-zero {
  from {
    opacity:1;
  }

  to {
    opacity:0;
  }
}

@keyframes show-large-animation {
  from {
    font-size:1rem;
    transform:(0, 0);
    z-index:-1;
    opacity:.3;
    background:none;
  }

  to {
    font-size:.75rem;
    transform:translate(0, -1.3rem);
    z-index:5;
    opacity:1;
    border-left:.1rem solid $sombra;
    border-right:.1rem solid $sombra;
  }
}

@keyframes hide-large-animation {
  from {
    font-size:.75rem;
    transform:translate(0, -1.3rem);
    z-index:5;
    opacity:1;
    border-left:.1rem solid $sombra;
    border-right:.1rem solid $sombra;
  }

  to {
    font-size:1rem;
    transform:(0, 0);
    z-index:-1;
    opacity:.3;
    background:none;
  }
}

@keyframes border-green-large {
  from {
    font-size:.75rem;
    transform:translate(.2rem, -1.3rem);
    z-index:5;
    opacity:1;
    border-left:.1rem solid $sombra;
    border-right:.1rem solid $sombra;
  }

  to {
    font-size:.75rem;
    transform:translate(.2rem, -1.1rem);
    z-index:5;
    opacity:1;
    border-left:.1rem solid $valid;
    border-right:.1rem solid $valid;
  }
}

@keyframes border-red-large {
  from {
    font-size:.75rem;
    transform:translate(.2rem, -1.3rem);
    z-index:5;
    opacity:1;
    border-left:.1rem solid $sombra;
    border-right:.1rem solid $sombra;
  }

  to {
    font-size:.75rem;
    transform:translate(.2rem, -1.1rem);
    z-index:5;
    opacity:1;
    border-left:.1rem solid $error;
    border-right:.1rem solid $error;
  }
}
