@import 'config';

.newsletter {
  display:grid;
  place-items:top center;

  header {
    display:grid;
    place-items:center;
    gap:.6rem;
    margin-top:12vh;

    h1 {
      font-size:2.5rem;
      font-weight:500;
      color:$normal-white;
      letter-spacing:.1rem;
    }

    span {
      opacity:.8;
      width:28rem;
      text-align:center;
      font-size:1.2rem;
    }
  }

  form {
    display:grid;
    margin:auto;
    margin-top:3rem;
    width:38rem;
    gap:1.5rem;

    div:first-child {
      display:flex;
      justify-content:space-between;
    }

    .large-style {
      display:grid;

      label {
        position:absolute;
        margin-top:.8rem;
        margin-left:.4rem;
        user-select:none;
        height:1rem;
        opacity:.3;
        background:$main-black;
        padding:0 .2rem 0 .3rem;
        animation:hide-large-animation .2s linear forwards;
        font-size:.9rem;
      }
      
      input, label {
        font-weight:300;
        letter-spacing:.07rem;
      }

      input {
        font-size:1.1rem;
        background:none;
        border:.1rem solid $sombra;
        border-radius:.1rem;
        padding:.8rem .5rem .6rem .5rem;

        &:focus {
          outline:none;
        }

        &#name, &#lastName {
          width:18.3rem;
        }

        &.valid:valid {
          border:.1rem solid $valid;
        }

        &.error {
          border:.1rem solid $error;
        }

        &.valid:valid ~ label, &:focus ~ label {
          animation:show-large-animation .3s linear forwards;
        }

        &.valid:valid ~ label {
          animation:border-green-large .3s linear forwards;
        }

        &.error:focus ~ label {
          animation:border-red-large .3s linear forwards;
        }
      }
    }

    .dont-send {
      width:30rem;
      opacity:.6;
      font-weight:300;
      text-align:center;
      margin:auto;
      margin-top:1.8rem;
    }

    .checkbox {
      margin-top:1.5rem;
      gap:1rem;
      display:grid;

      p {
        gap:.5rem;
        align-items:center;
        display:flex;
        margin-top:.2rem;
        font-size:.9rem;
        font-weight:300;
        user-select:none;
      }

      a {
        color:$normal-yellow;
        cursor:pointer;
      }

      input[type='checkbox'] {
        background:none;
        appearance:none;
        height:1rem;
        width:1rem;
        border:.1rem solid $l-gray;
        transition:.1s;

        &:focus {
          outline:none;
        }

        &:checked {
          background:$main-white;
        }

        &:checked:before {
          transition:.1s;
          position:absolute;
          margin-left:.05rem;
          margin-top:-.3rem;
          font-size:.9rem;
          content:'✔';
          color:$main-black;
        }
      }
    }

    .more {
      margin:auto;
      width:8.3rem;
      margin-top:2rem;
      transition:.3s;

      &:hover {
        background:$normal-gray;
        border:.07rem solid $normal-gray;
        color:$normal-white;
        transition:.3s;
      }

    }
  }

  article {
    div {
      margin-top:5rem;
    }

    li {
      list-style:none;
    }

    div:first-child {
      width:100vw;
      padding:3rem 0 3.5rem 0;
      background:$dark-gray;
      display:grid;
      place-items:center;

      h1 {
        font-size:2rem;
        font-weight:500;
        color:$normal-white;
      }

      span {
        width:23rem;
        font-weight:400;
        opacity:.8;
        margin-top:.5rem;
        text-align:center;
      }
    }

    div:last-child {
      gap:2.5rem;
      display:flex;
      width:48.5rem;
      flex-wrap:wrap;
      
      a {
        display:grid;
        place-items:left;
        border-radius:.1rem;
        width:23rem;
        gap:1rem;
        text-decoration:none;
        padding:1rem 0 1.5rem 0;
        border:.1rem solid $sombra;

        &:hover {
          img {
            transition:.5s;
            transform:scale(1.3);
          }
        }
      }

      li {
        margin:auto;
        transition:.2s;
        width:21.7rem;
        overflow:hidden;
        margin-left:.5rem;
      }

      img {
        width:21.7rem;
        transition:.5s;
      }

      h1, span {
        width:80%;
        margin-left:.5rem;
        font-weight:300;
      }

      h1 {
        margin-top:-.3rem;
        color:$normal-white;
      }

      span {
        margin-top:-.8rem;
        opacity:.8;
      }
    }

  }
}