@import 'config';
@import 'keyframes';

* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
  color:$main-white;
}

body {
  background:$main-black;
  overflow-x:hidden;
  overflow-y:auto;
  display:grid;
  place-items:center;
  scrollbar-width:thin;
  scrollbar-color:#7c6a6a;

  &::-webkit-scrollbar {
    width:.43rem;
  }

  &::-webkit-scrollbar-track {
    background:$normal-black;
  }

  &::-webkit-scrollbar-thumb {
    background:$main-white;
    background:$main-white;
    border:.375rem solid $main-white;
  }

  button {
    background:none;
    cursor:pointer;

    &:focus {
      outline:none;
    }
  }

  main {
    display:grid;
    place-items:center;
    width:100vw;

    section {
      padding:6rem 0 6rem 0;

      &, & article {
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        align-items:center;
      }

    }
  }

  .input-style {
    display:grid;
    gap:1rem;

    label {
      position:absolute;
      font-size:.8rem;
      margin-top:.7rem;
      margin-left:.6rem;
      font-weight:300;
      user-select:none;
      color:$sombra;
      z-index:7;
      height:1rem;
      animation:hide-animation .3s linear forwards;
    }

    input {
      background:transparent;
      border:.1rem solid $sombra;
      border-radius:.1rem;
      padding:.6rem .5rem;
      font-size:.8rem;
      z-index:8;
      width:15.8rem;

      &:focus {
        outline:none;
      }

      &:valid ~ label, &:focus ~ label {
        animation:show-animation .3s linear forwards;
      }

    }
  }

  .volta-pro-topo, .share, .subscribe {
    display:none;

    &.active {
      background:$main-black;
      padding:.3rem .3rem 0rem .3rem;
      border-radius:.2rem;
      position:fixed;
      display:block;
      cursor:pointer;
      animation:show-button .2s linear forwards;
      bottom:2rem;
      opacity:.8;
      transition:.2s;
    }

    &:hover {
      opacity:1;
      transition:.2s;
    }

    img {
      width:1.5rem;
    }
  }

  .background-detail {
    text-decoration:none;
    color:$main-black;
  }

  .dados .background-detail {
    font-weight:400;
  }

  .volta-pro-topo {
    right:1.5rem;
  }

  .subscribe {
    right:4.1rem;
    width:2.5rem;
  }
}

@import 'infos';
@import 'header';

@import 'home';
@import 'button';

@import 'footer';
